.meeting{
    margin: 1vh;
}
.meetingForm{
    margin: 2vh;
}
#popupBody{
    width: 250px;

}
#popup_form {
    width: 220px;
}
#popup_form div{
margin:4px 0 ;}
#form_meeting_button{
    margin: 7px
}