:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
#root>div{
  margin:1vh auto;
  /* padding: 1vh; */
}
.btns{
  display: flex;

}
.btn{
  width: 80%;
  margin: 0 20px;
}
.flexed-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
  margin: auto;

}
.flexed-items>div{    
  margin: 1vh
}

a {
  font-weight: 600;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #f37d59d3
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f37d59d3
  }
  button {
    background-color: #f9f9f9;
  }
}
